 :root {    
    /* dynamic url bar width settings */
    --uc-urlbar-width: clamp(250px, 50vw, 600px);
    --toolbarbutton-active-background:	#121212    !important;
}



#navigator-toolbox,
#nav-bar,
#TabsToolbar  {

    -moz-appearance: none !important;
    
    border: none !important;
    box-shadow: none !important;

    background: #202020 !important;

}

#main-window,
#PersonalToolbar {

    -moz-appearance: none !important;
    
    border: none !important;
    box-shadow: none !important;

    background: #121212 !important;

}

/* active tab background */
.tabbrowser-tab[selected]
    > .tab-stack
    > .tab-background { background: #121212 !important; }

/* remove tab shadow*/
.tabbrowser-tab
    >.tab-stack
    > .tab-background { box-shadow: none !important;  }

/* show favicon when media is playing but tab is hovered */
.tab-icon-image:not([pinned]) { opacity: 1 !important; }

/* Makes the speaker icon to always appear if the tab is playing (not only on hover) */
.tab-icon-overlay:not([crashed]),
.tab-icon-overlay[pinned][crashed][selected] {

  top: 5px !important;
  z-index: 1 !important;

  padding: 1px !important;
  inset-inline-end: -6px !important;
  width: 16px !important; height: 17px !important;

  border-radius: 10px !important;

}

/* remove 'show all tabs' button*/
#alltabs-button { display: none !important; }

/* remove "padding" left and right from tabs */
.titlebar-spacer { display: none !important; }

/* remove gap after pinned tabs */
#tabbrowser-tabs[haspinnedtabs]:not([positionpinnedtabs])
    > #tabbrowser-arrowscrollbox
    > .tabbrowser-tab[first-visible-unpinned-tab] { margin-inline-start: 0 !important; }

/* transition to oneline */
@media (min-width: 1000px) { 

    /* move tabs bar over */
    #TabsToolbar { margin-left: var(--uc-urlbar-width) !important; }

    /* move entire nav bar  */
    #nav-bar { margin: calc((var(--urlbar-min-height) * -1) - 10.2px) calc(100vw - var(--uc-urlbar-width)) 0 0 !important; }
    

    